<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LBSMapDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7D926B75204F7B2000A74F21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D926B8D204F7B2000A74F21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D926B98204F7B2000A74F21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
